footer {
  align-items: center;
  justify-content: center;
  font-family: "Karla";
  color: #333;
}

#foot--navCont {
  display: flex;
}

#foot--navCont > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#foot--navCont > nav > ul {
  list-style: none;
}

.foot--title {
  color: #495e59;
  font-weight: 800;
  font-size: 20px;
}

#foot--img {
  height: 200px;
}

.footer--link {
  cursor: pointer;
}
