nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  height: 100%;
  color: #333;
}

#nav--nav {
  display: flex;
  list-style: none;
  gap: 50px;
  font-weight: 800;
  font-size: 20px;
}

.nav--link > a {
  cursor: pointer;
}

#nav--logo {
  width: 225px;
}
