* {
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #edefee;
  height: 100px;
}

main {
  height: 2343px;
}

footer {
  height: 300px;
  background-color: #d2d2d2;
  display: flex;
  overflow: hidden;
}
